#signUpForm {
  /*max-width: 500px;*/
  background-color: #ffffff;
  margin: 40px auto;
  padding: 40px;
  box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
  border-radius: 12px;
}

#signUpForm .form-header {
  gap: 5px;
  text-align: center;
  font-size: .9em;
}

#signUpForm .form-header .stepIndicator {
  position: relative;
  flex: 1;
  padding-bottom: 30px;
}

#signUpForm .form-header .stepIndicator.active {
  font-weight: 600;
}

#signUpForm .form-header .stepIndicator.finish {
  font-weight: 600;
  color: #009688;
}

#signUpForm .form-header .stepIndicator::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #d5efed;
  border-radius: 50%;
  border: 3px solid #ecf5f4;
}

#signUpForm .form-header .stepIndicator.active::before {
  background-color: #a7ede8;
  border: 3px solid #d5f9f6;
}

#signUpForm .form-header .stepIndicator.finish::before {
  background-color: #009688;
  border: 3px solid #b7e1dd;
}

#signUpForm .form-header .stepIndicator::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 100%;
  height: 3px;
  background-color: #f3f3f3;
}

#signUpForm .form-header .stepIndicator.active::after {
  background-color: #a7ede8;
}

#signUpForm .form-header .stepIndicator.finish::after {
  background-color: #009688;
}

#signUpForm .form-header .stepIndicator:last-child:after {
  display: none;
}

#signUpForm input {
  padding: 15px 20px;
  width: 100%;
  font-size: 1em;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

#signUpForm input:focus {
  border: 1px solid #009688;
  outline: 0;
}

#signUpForm input.invalid {
  border: 1px solid #ffaba5;
}

#signUpForm .step {
  display: none;
}

#signUpForm .form-footer {
  overflow: auto;
  gap: 20px;
}

#signUpForm .form-footer button {
  background-color: #009688;
  border: 1px solid #009688 !important;
  color: #ffffff;
  border: none;
  padding: 13px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
  margin-top: 5px;
}

#signUpForm .form-footer button:hover {
  opacity: 0.8;
}

#signUpForm .form-footer #prevBtn {
  background-color: #fff;
  color: #009688;
}


/* START - CUSTOM */

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* START - DEMO CSS */

#demoSignUpForm {
  background-color: #ffffff;
  margin: 40px auto;
  padding: 40px;
  box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
  border-radius: 12px;
}

#demoSignUpForm input {
  padding: 15px 20px;
  width: 100%;
  font-size: 1em;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

#demoSignUpForm .form-footer {
  overflow: auto;
  gap: 20px;
}

#demoSignUpForm .form-footer #prevBtn {
  background-color: #fff;
  color: #009688;
}

#demoSignUpForm .form-footer button {
  background-color: #009688;
  border: 1px solid #009688 !important;
  color: #ffffff;
  border: none;
  padding: 13px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
  margin-top: 5px;
}

.nav-demo-btn {
  border: 1px solid #198754;
  padding: 4px 8px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
}

/* START - What sets apart - SECTION */

.callout-section .box-callout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.callout-section .box-callout-container h3 {
  margin-bottom: 16px;
}

.callout-section .callout-box,
.callout-section .callout {
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  max-width: 380px;
}

.callout-section .callout-box p,
.callout-section .callout p {
  font-size: 1.2rem;
}

.callout-section .callout-box div,
.callout-section .callout div {
  align-self: center;
  margin-top: 10px;
}

.callout-section .callout {
  max-width: 410px;
  margin-top: 20px;
}

.callout-section .callout-box {
  border: 2px solid #0d6efd;
  border-radius: 6px;
  background: #0d6efd;
  color: #fff;
  max-width: 380px;
}

@media (min-width: 768px) {
  .callout-section .box-callout-container {
    flex-direction: row;
  }

  .callout-section .callout {
    margin-left: 20px;
    margin-top: 0px;
  }

  .callout-section .callout-box {
    min-width: 300px;
  }
}

@media (min-width: 992px) {
  .callout-section .callout {
    margin-left: 40px;
  }
}

@media (min-width: 1200px) {
  .callout-section .callout {
    margin-left: 100px;
  }
}

/* END - What sets apart - SECTION */

/* START - Carousel - SECTION */

#carouselExampleAutoplaying .carousel-item {
	width: 100vw;
}

#carouselExampleAutoplaying .carousel-item img {
	max-width: calc(100vw - 80px);
	max-height: 100%;
	margin-left: auto;
  margin-right: auto;
	padding-top: 30px;
}

#carouselExampleAutoplaying h2 {
	width: 100vw;
	text-align: center;
	color: #fff;
}

#carouselExampleAutoplaying .carousel-control-prev, 
#carouselExampleAutoplaying .carousel-control-next {
	width: 7%;
}

.carousel-control-prev {
left: 12px;
}

.carousel-control-next {
right: 12px;
}

.carousel-item.active {
	
	flex-direction: column;
}

@media (min-width: 768px) {
  #carouselExampleAutoplaying .carousel-item {
		height: 380px;
		display: none;
	}
	
	#carouselExampleAutoplaying .carousel-item.active {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#carouselExampleAutoplaying .carousel-item img {
		max-width: 420px;
    max-height: 300px;
    padding-left: 90px;
	}

	#carouselExampleAutoplaying h2 {
		width: 50%;
	}
}

@media (min-width: 1200px) {
  #carouselExampleAutoplaying .carousel-item {
		height: 500px;
		display: none;
	}

	#carouselExampleAutoplaying .carousel-item img {
		max-width: 900px;
    max-height: 600px;
    padding-left: 90px;
		margin-left: 15%;
	}

	#carouselExampleAutoplaying h2 {
		margin-right: 10%;
	}

	#carouselExampleAutoplaying .carousel-item .priority-image {
		margin-left: 25%;
	}
}

/* END - Carousel - SECTION */


/* END - Designed to be simple - SECTION */

/* START - Homepage custom */


@media (min-width: 1200px) {
	.card-header-custom {
			min-height: 67px;
	}

	.card-header-custom .display-6 {
		font-size: 2.1rem;
}
}
/* END - Homepage custom */